<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>  
    table, th, td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static  'C:\Users\akbar\Documents\Akbar\UI\Fasilkom\Pelajaran\Semester 3\PBP-Django\pbp-lab\static\style.css' %}">
  </head>
  <body>
     <nav>
		    <div class="logo">
			    <p>PBP-LAB</p>
		    </div>
		    <ul>
			    <li><a href="/lab-4" class='active'>Note</a></li>
			    <li><a href="note-list"> Note List</a></li>
			    <li><a href="add-note">Form</a></li>
		    </ul>
	    </nav>

    <p> ....... </p>  
    <p> .......</p>  
    <p> ....... </p>  
    <p> TABEL</p>  
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% for Note in note %}
        <tr>
            <td>{{ Note.to }}</td>
            <td>{{ Note.froM }}</td>
            <td>{{ Note.title }}</td>
            <td>{{ Note.message }}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
