<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'C:\Users\akbar\Documents\Akbar\UI\Fasilkom\Pelajaran\Semester 3\PBP-Django\pbp-lab\static\style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
       <nav>
		    <div class="logo">
			    <p>PBP-LAB</p>
		    </div>
		    <ul>
			    <li><a href="/lab-4">Note</a></li>
			    <li><a href="note-list" class='active'> Note List</a></li>
			    <li><a href="add-note">Form</a></li>
		    </ul>
	    </nav>
  

        <p> ....... </p>  
        <p> .......</p>  
        {% for Note in note %}
        <div class="card" style="width: 18rem;">
            {% load static %}
            <img src="{% static 'C:\Users\akbar\Documents\Akbar\UI\Fasilkom\Pelajaran\Semester 3\PBP-Django\pbp-lab\static\petrik.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ Note.title }}</h5>
                <p class="card-text">{{ Note.message }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Dari : {{ Note.to }}</li>
                <li class="list-group-item">Untuk : {{ Note.froM }}</li>
            </ul>
        </div>
        
        {% endfor %}
        
        <p>Taken from Youtube: Learn Web</p>

  </body>

</html>