<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
    <style>
        input {
            width: 20%;
            padding: 10px 10px;
            box-sizing: border-box;
            border: 2px solid black;
            background-color: #3CBC8D;
            color: white;
            margin: 10px;
        }
        input:focus {
            background-color: lightblue;
        }       
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static  'C:\Users\akbar\Documents\Akbar\UI\Fasilkom\Pelajaran\Semester 3\PBP-Django\pbp-lab\static\style.css' %}">
  </head>
  <body>
     <nav>
		    <div class="logo">
			    <p>PBP-LAB</p>
		    </div>
		    <ul>
			    <li><a href="/lab-4">Note</a></li>
			    <li><a href="note-list" > Note List</a></li>
			    <li><a href="add-note" class='active'>Form</a></li>
		    </ul>
	    </nav>
    <p> ....... </p>  
    <p> .......</p>  
    <p> ....... </p>  

    <form action="" method="POST">
        {% csrf_token %}
        <p>to :</p>
        {{ form.to }}
        <p>from :</p>
        {{ form.froM }}
        <p>Judul:</p>
        {{ form.title }}
        <p>Message:</p>
        {{ form.message }}
        <hr size="4" width="100%" color="black">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>