<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
    <style>
        input {
            width: 20%;
            padding: 10px 10px;
            box-sizing: border-box;
            border: 2px solid black;
            background-color: #3CBC8D;
            color: white;
        }
        input:focus {
            background-color: lightblue;
        }       
    </style>
  </head>
  <body>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Nama :</p>
        {{ form.name }}
        <p>NPM :</p>
        {{ form.npm }}
        <p>Tanggal lahir:</p>
        {{ form.DOB }}
        <hr size="4" width="100%" color="black">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>