<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>  
    table, th, td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% for Note in note %}
        <tr>
            <td>{{ Note.to }}</td>
            <td>{{ Note.froM }}</td>
            <td>{{ Note.title }}</td>
            <td>{{ Note.message }}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
